@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #0f1218;
	height: 100vh;
}

.mantine-Checkbox-input {
	background-color: #ffffff15;
	border-color: #ffffff00;

	&:checked {
		background-color: #fa6c32;
		border-color: #fa6c32;
	}
}
